<!doctype html>
<html>
  <head>
    <title>Force-Directed Layout and CARL Lab</title>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="force/force.css" />
  </head>
  <body>
#    <svg width="960" height="600"></svg>
     <h2>Figure shows electrogram synchronization (bilinear cross-correlation in 1cm2 regions), color coded</h2>
     "this is a console log statement"
     <img src="{{url_for('static',filename=file)}}"/>
#    <script type="text/javascript" src="force/force.js"></script>
  </body>
</html>
